Por Gastos
============
Este mes han venido los siguientes gastos:
<%= for {item, total_spent, pay_person} <- expenses_list do %> 
  - <%= item %>. <%= total_spent |> print_money() %> <%= if total_spent >= 0 do %> Los cuales se van a pagar de la siguiente forma: <% else %> Los cuales se van a repartir de la siguiente forma: <% end %> <%= for {person, percentage, person_pays} <- pay_person do %>
    - <%= person %> (<%= percentage * 100%>%): <%= person_pays %> <% end %> <% end %>
